.app{
  background-color: black;
}

::-webkit-scrollbar{
  margin-top:10px;
  width:7px;
  height:6px;
}
::-webkit-scrollbar-track{
  box-shadow: insert  0 0 5px gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background:#e50591;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background:#b30000;
}